<nav class="nav flex-column">
  <a class="nav-link" href="#settings">
    <i class="bi-gear me-1"></i> Nastavení
  </a>
  {% if role == "admin" %}
  <a class="nav-link" href="#actuators-settings">
    <i class="bi-sliders me-1"></i> Ovládání aktuátorů
  </a>
  {% else %}
  <a class="nav-link" href="#actuators-status">
    <i class="bi-eye me-1"></i> Stav aktuátorů
  </a>
  {% endif %}  
  <a class="nav-link" href="#sensors-current">
    <i class="bi-speedometer me-1"></i> Aktuální stav
  </a>
  <a class="nav-link" href="#sensors-history">
    <i class="bi-clock-history me-1"></i> Historická data
  </a>
  {% if role == "admin" %}
  <a class="nav-link" href="#log-viewer">
    <i class="bi-journal-text me-1"></i> Prohlížeč logů
  </a>
  {% endif %}  
</nav>
